$color-input: white;
$color-result: rgb(90, 149, 194);
$results-height: 400px;

@mixin custom-scrollbar($color, $width) {
    &::-webkit-scrollbar {
        width: $width;
    }
    &::-webkit-scrollbar-track {
        width: $width;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        width: $width;
        background-color: $color;
    }
}

.results-history {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: 10pt;
    height: $results-height;
    overflow-y: auto;
    @include custom-scrollbar(rgb(129, 89, 129), 8px);

    .result-history-item {
        display: flex;
        margin: 5px 0 1em 0;
        padding: 0 5px;
        flex-flow: column;

        .input {
            color: $color-input;
        }
        .result {
            color: $color-result;

            &::before {
                content: '=\00a0';
                color: rgb(161, 127, 18);
            }
        }
    }
}

